html {
  background: #1f1f1f;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(to right, #2C5364, #203A43, #0F2027); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
  /*opacity: 0.3;*/
  position: relative;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "SF UI Display", "Helvetica Neue", "Roboto", "Segoe UI",  "Ubuntu", "Canterall", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:  -apple-system, "Source Code Pro", Menlo ,"Courier New", monospace;
}

#root {
  height: 100%;
}
